{% extends 'base.html.twig' %}

{% block title %}Tutoriels{% endblock %}

{% block body %}
  <div class="row">
							<div class="12u">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Mes tutoriels</h2>
										</header>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured">
                            {% image '@PortfolioBundle/Resources/public/images/pic02.jpg' %}
                                <img src="{{ asset_url }}" alt="" />
                            {% endimage %}                          </a>
													<header>
														<h3>Symfony : Présentation de Sonata Bundle</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured">
                            {% image '@PortfolioBundle/Resources/public/images/pic03.jpg' %}
                                <img src="{{ asset_url }}" alt="" />
                            {% endimage %}                          </a>
													<header>
														<h3>NodeJS : Débuter en AngularJS2</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured">
                            {% image '@PortfolioBundle/Resources/public/images/pic04.jpg' %}
                                <img src="{{ asset_url }}" alt="" />
                            {% endimage %}
                          </a>
													<header>
														<h3>Symfony : Renvoi de champs de formulaire</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
										</div>
										<div class="row">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured">
                            {% image '@PortfolioBundle/Resources/public/images/pic05.jpg' %}
                                <img src="{{ asset_url }}" alt="" />
                            {% endimage %}
                          </a>
													<header>
														<h3>Blandit sed adipiscing</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured">
                            {% image '@PortfolioBundle/Resources/public/images/pic06.jpg' %}
                                <img src="{{ asset_url }}" alt="" />
                            {% endimage %}
                          </a>
													<header>
														<h3>Etiam nisl consequat</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured">
                            {% image '@PortfolioBundle/Resources/public/images/pic07.jpg' %}
                                <img src="{{ asset_url }}" alt="" />
                            {% endimage %}
                          </a>
													<header>
														<h3>Dolore nisl feugiat</h3>
													</header>
													<p>Lorem ipsum dolor sit amet sit veroeros sed amet blandit consequat veroeros lorem blandit  adipiscing et feugiat phasellus tempus dolore ipsum lorem dolore.</p>
													<footer>
														<a href="#" class="button alt">Find out more</a>
													</footer>
												</section>
											</div>
										</div>
									</section>

							</div>
						</div>
        {% endblock %}
